body{ 
    min-height:100vh; 
    margin:0; 
    position:relative; 
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    margin-bottom: 0px;
    background-color: #ebebeb;
    }