<div class="filter">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="Name">Name </mat-option>
            <mat-option value="Name">Category </mat-option>
        
        </mat-select>
    
    </mat-form-field>
</div>

<div class="tutors">
    <div class="tutor">
        <div class="tutor-image">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fmathematics-background-vector-id893456304&f=1&nofb=1" 
            alt="math-stock-image" 
            class="tutor-img">
        </div>
        <div class="tutor-info">
            <div class="tutor-name">
                <p>Math</p>
            </div>
            <div class="tutor-description">
                <p>Math classes for free</p>
            </div>
            <div class="tutor-topic">Math, Elementary</div>
        </div>
    </div>
</div>