<!--<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>You are already logged in</h2>
</div>-->
<p>As</p>
<ng-template>
    <div class="container d-flex justify-content center">
        <div class="card">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/signup">Sign up</a>
                    </li>
                  </ul>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>

</ng-template>