.filter {
    max-width: 1200px;
    margin: 10px auto;
    padding-top: 5px;
    padding-left: 5px;
}

::ng-deep {
    .mat-form-field-infix {
        background-color: #ebebeb;
        border-color: #fff;
        border-top: none;
        padding-left: 5px;
    }

    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: black;
        opacity: 1;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
        padding-left: 5px;

    }

}

.tutors {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1200px;
    margin: 20px auto;
}

.tutor {
    width: 500px;
    margin: 10px;
    height: 400px;
    //overflow: hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 3px 8px 0px #3f51b5;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
        box-shadow: 4px 3px 11px 6px #3f51b5;
        transform: translateY(-3px);
    }

    &-image {
        background-color: #7c48c3;
        position: relative;
        height: 30vh;
        color: #fff;
        text-align: center;
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 30vh;
    }

    &-info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 165px;
    }

    &-name {
        position: relative;
        color: #000;
        font-weight: 700;
        font-size: 22px;
        margin-top: 40px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &-description {
    }

    &-topic {
        color: #000;
        font-weight: 700;
        font-size: 22px;
    }


}