<!--<div class="filter">
    <mat-form-field>
        <mat-label>Select subject</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="filter">
            <mat-option value="Math">Math </mat-option>
            <mat-option value="History">History </mat-option>
            <mat-option value="Music">Music </mat-option>
            <mat-option value="Physical Education">P.E. </mat-option>
            <mat-option value="Science">Science </mat-option>
            <mat-option value="Programming">Programming </mat-option>
        
        </mat-select>
    
    </mat-form-field>
</div>-->
<input type="text" class="form-control mb4" placeholder="Search" [(ngModel)]="filter">

<div class="tutors">
    
    <div class="tutor" *ngFor="let tutor of tutors | tutorFilter: filter">
        <div class="tutor-image">
            <img src="{{ tutor.tutorImg }}" 
            alt="math-stock-image" 
            class="tutor-img">
        </div>
        <div class="tutor-info">
            <div class="tutor-name">
                <p>{{ tutor.firstName }} {{ tutor.lastName }}</p>
            </div>
            <div class="tutor-description">
                <p>{{ tutor.intro }}</p>
            </div>
            <div class="tutor-topic">{{ tutor.subjectTitle }}</div>
        </div>
    </div>

</div>