<div class="filter">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="Name">Math </mat-option>
            <mat-option value="Name">History </mat-option>
            <mat-option value="Name">Music </mat-option>
            <mat-option value="Name">P.E. </mat-option>
            <mat-option value="Name"> </mat-option>
        
        </mat-select>
    
    </mat-form-field>
</div>

<div class="tutors">
    
    <div class="tutor" *ngFor="let tutor of tutors">
        <div class="tutor-image">
            <img src="{{ tutor.tutorImg }}" 
            alt="math-stock-image" 
            class="tutor-img">
        </div>
        <div class="tutor-info">
            <div class="tutor-name">
                <p>{{ tutor.firstName }} {{ tutor.lastName }}</p>
            </div>
            <div class="tutor-description">
                <p>{{ tutor.intro }}</p>
            </div>
            <div class="tutor-topic">{{ tutor.subjectTitle }}</div>
        </div>
    </div>

</div>